@import "../../styles/variables.scss";
.css-ece9u5 {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 20;
}
.css-1nrlq1o-MuiFormControl-root {
  min-width: 80px;
  font-size: 20px;
}
.css-qiwgdb {
  background-color: #f5f5f5;
  background: #f5f5f5;
}
