@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.home {
  height: 90vh;
  width: 100%;
  @include flexbox(flex, column, center, center);
  background-color: $backgroundcolor;
  margin: 0;
  padding: 0;

  &__wrapper {
    height: 80%;
    width: 70%;
    @include flexbox(flex, column, center, flex-start);
    z-index: 10;
  }
  &__greet {
    color: $maintext;
    font-size: 20px;
  }
  &__name {
    color: $maincolor;
    font-size: 60px;
    margin: 10px 0 20px 0;
  }
  &__subtitle {
    color: $importanttext;
    font-size: 60px;
    margin-bottom: 20px;
  }
  &__description {
    color: $maintext;
    font-size: 20px;
  }
}
